:root {
    --color-gray-900: #0D0D0F;
    --color-gray-800: #1E1E22;
    --color-gray-700: #3A3A42;

    --color-purple-500: #6C2DC7;
    --color-purple-300: #B980FF;

    --color-purple-500-transparent: rgba(108, 45, 199, 0.25);

    --color-white: #FAFAFA;
}


::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none;
}

* {
    -ms-overflow-style: none;
}



html, body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    height: -webkit-fill-available;
    background: #0a0a0a;
    scroll-behavior: smooth;
    margin: 0;
    
}



section {
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}




#root {
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 100dvh;
    
    /* padding-bottom: env(safe-area-inset-bottom); */
}